
.modalstone {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modalstone-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.closeStone {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -25px;
    margin-right: -15px;
}

.closeStone:hover,
.closeStone:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.CStone {
    display: none;
}
.BStone {
    display: none;
}
.AStone {
    display: none;
}
.SStone {
    display: none;
}
.SSStone {
    display: none;
}
.SSSStone {
    display: none;
}
.XStone {
    display: none;
}
.NoStone {
    display: block;
}


.gachabox {
    display: none;
}
.GUIshop {
    display: none;
}
.GUIinventory {
    display: none;
}
.gachapong {
    height: 80%;
    width: 80%;
    transition: 0.6s;
    transform-style: preserve-3d;
}
.storeGacha {
	display: none;
    max-width: 290px;
    min-height: 85px;
    line-height: 80px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: initial;
    margin-bottom: 20px;
    background-color: #000000;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    word-break: break-all;
    font-size: 15px;
    font-weight: 400;
    opacity: 1;
    -webkit-transform: translateY(20px) rotate(45deg);
    transform: translateY(20px) rotate(45deg);
    will-change: transform;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 85px;
    text-align: center;
}
.storeGachaS {
	display: none;
    max-width: 290px;
    min-height: 85px;
    line-height: 80px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: initial;
    margin-bottom: 20px;
    background-color: #0fa4ea;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    word-break: break-all;
    font-size: 15px;
    font-weight: 400;
    opacity: 1;
    -webkit-transform: translateY(20px) rotate(45deg);
    transform: translateY(20px) rotate(45deg);
    will-change: transform;
    position: fixed;
    bottom: 20px;
    right: 85px;
    width: 85px;
    text-align: center;
}
.storeGachaSR {
	display: none;
    max-width: 290px;
    min-height: 85px;
    line-height: 80px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: initial;
    margin-bottom: 20px;
    background-color: #00cc19;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    word-break: break-all;
    font-size: 15px;
    font-weight: 400;
    opacity: 1;
    -webkit-transform: translateY(20px) rotate(45deg);
    transform: translateY(20px) rotate(45deg);
    will-change: transform;
    position: fixed;
    bottom: 20px;
    right: 150px;
    width: 85px;
    text-align: center;
}
.storeGachaSSR {
	display: none;
    max-width: 290px;
    min-height: 85px;
    line-height: 80px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: initial;
    margin-bottom: 20px;
    background-color: #ffb100;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    word-break: break-all;
    font-size: 15px;
    font-weight: 400;
    opacity: 1;
    -webkit-transform: translateY(20px) rotate(45deg);
    transform: translateY(20px) rotate(45deg);
    will-change: transform;
    position: fixed;
    bottom: 20px;
    right: 215px;
    width: 85px;
    text-align: center;
}
.storeGachaULR {
	display: none;
    max-width: 290px;
    min-height: 85px;
    line-height: 80px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: initial;
    margin-bottom: 20px;
    background-color: #ff3737;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    word-break: break-all;
    font-size: 15px;
    font-weight: 400;
    opacity: 1;
    -webkit-transform: translateY(20px) rotate(45deg);
    transform: translateY(20px) rotate(45deg);
    will-change: transform;
    position: fixed;
    bottom: 20px;
    right: 280px;
    width: 85px;
    text-align: center;
}

@media screen and (max-width: 600px) {
  .search-container {
    margin-left: 130px;
  }
  .search-container button {
    float: none;
    display: block;
    text-align: canter;
    width: 30px;
    
    
  }
  .search-container input[type=text] {
  padding: 6px;
  font-size: 17px;
  text-align: center;
  border: none;
  width:60px;
  }
}
.search-container {
	float: right;
    align-self: center;
    display: flex;
    margin-left: 130px;
}

.search-container input[type=text] {
	float: right;
    padding: 6px;
    font-size: 17px;
    text-align: center;
    width:60px;
    border: none;
}
.search-container button {
    float: none;
    display: block;
    text-align: canter;
    width: 30px;
    padding: 0px 0px;
    background: #ffca08;
    font-size: 31px;
    border: none;
    cursor: pointer;
    min-width: 20px;
    height: 32px;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 410px;
    box-shadow: 0px 0px 0px #ffe000;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 25px;
    color: #ccc;
    text-shadow: 0px 0px 7px #ffe000;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
